.page-header
  %h1
    Attempt #
    %small
      Score:
      = succeed(',') do
        = @attempt.score

      Passed:
      = checkmark @attempt.passed, color: true

.row
  .col-md-5
    %p.lead
      %b User:
      = @submission.user.name
    %p.lead
      %b Course:
      = @submission.course.name
    %p.lead
      %b Submitted at:
      = @submission.submitted_at.strftime('%Y-%m-%d %H:%m')

  .col-md-7
    %p
      %b Code:
      %pre<= @submission.code


.form-actions
  = link_to 'Back', :back, class: 'btn btn-default'
