%h1 Listing submissions

%table
  %tr
    %th User
    %th Course
    %th Code
    %th Passed
    %th Score
    %th Score
    %th Submitted at
    %th
    %th
    %th

  - @submissions.each do |submission|
    %tr
      %td= submission.user_id
      %td= submission.course_id
      %td= submission.code
      %td= submission.passed
      %td= submission.score
      %td= submission.score
      %td= submission.submitted_at
      %td= link_to 'Show', submission
      %td= link_to 'Edit', edit_submission_path(submission)
      %td= link_to 'Destroy', submission, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Submission', new_submission_path
