.page-header
  %h1
    Submission
    %small
      Passed:
      = checkmark @submission.completed_at, color: true

.row
  .col-md-5
    %p.lead
      %b User:
      = @submission.user.name

    %p.lead
      %b Course:
      = @submission.course.name

    %p.lead
      %b Started at:
      = @submission.started_at ? @submission.started_at.strftime('%Y-%m-%d %H:%m') : 'N/A'

    %p.lead
      %b Completed at:
      = @submission.completed_at ? @submission.completed_at.strftime('%Y-%m-%d %H:%m') : 'N/A'

  .col-md-7
    %h2 Attempts

    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th ID
          %th Passed?
          %th Hint Given?

      %tbody
        - @submission.attempts.order('submitted_at').each do |a|
          %tr
            %td= link_to a.id, a
            %td= checkmark a.result_id == 'passed', color: true
            %td= checkmark a.hint, color: true

    .form-actions
      = form_tag attempt_comparison_url, method: :get, class: 'form-inline' do
        Compare attempt
        = collection_select('attempts', 'from', @submission.attempts.all, :id, :id, {}, class: 'form-control input-sm')
        to attempt
        = collection_select('attempts', 'to', @submission.attempts.all, :id, :id, {}, class: 'form-control input-sm')

        = submit_tag 'Go', class: 'btn btn-primary btn-sm'


.form-actions
  = link_to 'Back', :back, class: 'btn btn-default'
