.container
  .page-header
    %h1
      = "Credits"
  %h2
    = "Set of Images"
  %img{:alt=>"Sheet 1", :src=> "/assets/spritesheets/RPGpack_sheet.png", :style=>"width:304px;height:228px"}
  %td= link_to "Click Here for the Website", "http://opengameart.org/content/rpg-pack-base-set"
  %h2
    = "The Male Hero"
  %img{:alt=>"Sheet 1", :src=> "/assets/spritesheets/heroes/guy/walk.png", :style=>"width:304px;height:228px"}
  %td= link_to "Click Here for the Website", "http://opengameart.org/content/liberated-pixel-cup-lpc-base-assets-sprites-map-tiles"
  %h2
    = "The Female Hero"
  %img{:alt=>"Sheet 1", :src=> "/assets/spritesheets/heroes/girl/walk.png", :style=>"width:304px;height:228px"}
  %td= link_to "Click Here for the Website", "http://opengameart.org/content/lpc-sara"
  %h2
    = "Boats"
  %img{:alt=>"Sheet 1", :src=> "/assets/spritesheets/NPCs/boat.png", :style=>"width:304px;height:228px"}
  %td= link_to "Click Here for the Website", "http://s5.photobucket.com/user/CrimzonBladeNatsume/media/boat.png.html"
  %h2
    = "The Wizard"
  %img{:alt=>"Sheet 1", :src=> "/assets/spritesheets/NPCs/Sheets/PSP - Final Fantasy 4 The Complete Collection - The After Years - Black Mage FFIV.png", :style=>"width:304px;height:228px"}
  %td= link_to "Click Here for the Website", "http://finalfantasy.wikia.com/wiki/Black_Mage_(The_After_Years)"
  %h2
    = "Link"
  %img{:alt=>"Sheet 1", :src=> "/assets/spritesheets/NPCs/Sheets/LinkSheet.png", :style=>"width:304px;height:228px"}
  %td= link_to "Click Here for the Website","Credits given to http://gmc.yoyogames.com/index.php?showtopic=512544"
  %h2
    = "MagiKoopa"
  %img{:alt=>"Sheet 1", :src=> "/assets/spritesheets/NPCs/Sheets/MagiKoopa.gif", :style=>"width:304px;height:228px"}
  %td= link_to "Click Here for the Website","Credits given to http://spritedatabase.net/file/3646"
  %h2
    = "Mario Characters"
  %img{:alt=>"Sheet 1", :src=> "/assets/spritesheets/NPCs/Sheets/Paper_Mario_Sprites_by_HavocQ.png", :style=>"width:304px;height:228px"}
  %td= link_to "Click Here for the Website","Credits given to http://havocq.deviantart.com/art/Paper-Mario-Sprites-14844717"
  %h2
    = "A Gym Leader"
  %img{:alt=>"Sheet 1", :src=> "/assets/spritesheets/NPCs/Sheets/GymLeaderBlue.png", :style=>"width:304px;height:228px"}
  %td= link_to "Click Here for the Website","Credits given to http://chrisx698.deviantart.com/art/Pokemon-HG-SS-Sprite-Blue-165247753"
  %h2
    = "Athos"
  %img{:alt=>"Sheet 1", :src=> "/assets/spritesheets/NPCs/Sheets/Athos.gif", :style=>"width:304px;height:228px"}
  %td= link_to "Click Here for the Website","Credits given to http://spritedatabase.net/file/3132"
  %h2
    = "Characters"
  %img{:alt=>"Sheet 1", :src=> "/assets/spritesheets/NPCs/Sheets/generic_fire_emblem_sprites_5_by_great_aether-d3i5zhd.png", :style=>"width:304px;height:228px"}
  %td= link_to "Click Here for the Website","Credits given to http://great-aether.deviantart.com/art/Generic-Fire-Emblem-Sprites-5-211910881"