.page-header
  %h1
    Edit
    = resource_name.to_s.humanize

= simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put } do |f|
  = f.error_notification
  = f.input :name, required: true, autofocus: true
  = f.input :email, required: true, autofocus: true
  = f.input :current_password, hint: "Any changes to your account requires password confirmation", required: true

  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %p
      Currently waiting confirmation for:
      = resource.unconfirmed_email

  = f.input :'password Change', autocomplete: "off", required: false
  = f.input :password_confirmation, required: false

  .pull-right
    = f.button :submit, "Update", class: 'btn btn-primary'
    = link_to "Back", :back, class: 'btn btn-default'
  .col-sm-offset-3
    = link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger'
