!!!
%html
  %head
    %title This is a C00L Game

    = stylesheet_link_tag    'game_page', media: 'all'
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{ 'data-toggle' => 'collapse', 'data-target' => 'navbar-collapse' }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'GAME NAME', root_path, class: 'navbar-brand'

        .collapse.navbar-collapse#navbar-collapse
          %ul.nav.navbar-nav
            %li= link_to 'Courses', courses_path
            %li= link_to 'Badges', root_path
            %li= link_to 'Users', users_path

          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li=link_to 'My Account', current_user
              %li=link_to 'Log out', destroy_user_session_path, method: :delete
            - else
              %li=link_to 'Log in', new_user_session_path
              %li=link_to 'Sign up', user_registration_path

    = yield
    = javascript_include_tag 'game_page'
