.page-header
  %h1
    = @level.name
    %small
      Part of:
      = @level.course.name

.row
  .col-md-4
    %p Tile map omitted for brevity.

  .col-md-8
    %h2 Prompt
    = @level.prompt

.form-actions
  = link_to 'Edit', edit_level_path(@level), class: 'btn btn-warning'
  = link_to 'Back', levels_path, class: 'btn btn-default'
