rao;ss= simple_form_for @course do |f|
  = f.error_notification

  = f.input :name

  = f.input :start_date, as: :string, placeholder: 'YYYY-MM-DD HH:MM:SS'

  = f.input :description

  = f.input :open, label: 'Open Enrollment?'

  .form-actions
    = f.submit 'Save', class: 'btn btn-primary'
