.page-header
  %h1
    = @course.name
    %small= "Guest View"

%h2
  = "<Instructors List>"
%h3

.row
  .col-xs-6
    %p
      %b Description:
      = @course.description
    %p
      %b Language Taught:
      = "Langauge"
    %p
      %b Start date:
      = @course.start_date

.row
  = link_to 'Back to Courses', courses_path, class: 'btn btn-primary btn-sm'
- if user_signed_in?
  %p
  .row
    =link_to 'Enroll in Course', enrollment_create_path(@course, current_user), class: 'btn btn-danger btn-sm', method: :post
