%p#notice= notice

%h1{:align => "left"}
  = @course.name
%h2{:align => "left"}
  = "<Instructors List>"
%h3{:align => "left"}
  = "Enrolled Student View"

.row
  .col-xs-6
    %p
      %b Description:
      = @course.description 
    %p
      %b Language Taught:
      = "Langauge"
    %p
      %b Start date:
      = @course.start_date 

  .col-xs-6
    %p
      %b Badges:
      = "List of Badges"


.row
  = link_to 'Back to Courses', courses_path, class: 'btn btn-primary btn-sm'
- if user_signed_in?
  %p
  .row
    = link_to 'Withdraw from Course', courses_withdraw_path(@course, current_user), class: 'btn btn-danger btn-sm'
