.page-header
  = search_form_for @q do |f|
    .input-group.col-md-4.pull-right
      = f.search_field :name_cont, placeholder: 'Search Courses', class: 'form-control'
      .input-group-btn= f.submit 'Search', class: 'btn btn-default'
    %h1 Courses

%table.table.table-striped.vertical-aligned
  %thead
    %tr
      %th= sort_link @q, :name
      %th= sort_link @q, :start_date
      %th Options

  %tbody
    - @courses.each do |course|
      %tr
        %td= link_to course.name, course
        %td= course.start_date
        - if can? :manage, course
          %td
            = link_to 'Edit', edit_course_path(course), class: 'btn btn-warning btn-sm'
            = link_to 'Destroy', course, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-sm'

.form-actions
  = link_to 'New Course', new_course_path, class: 'btn btn-primary'
