%p#notice= notice

%h1{:align => "left"}
  = @course.name
%h2{:align => "left"}
  = "<Instructors List>"
%h3{:align => "left"}
  = "Default Student View"

.row
  .col-xs-6
    %p
      %b Description:
      = @course.description 
    %p
      %b Language Taught:
      = "Langauge"
    %p
      %b Start date:
      = @course.start_date 

.row
  = link_to 'Back to Courses', courses_path, class: 'btn btn-primary btn-sm'
%p
.row
  = link_to 'Enroll in Course', courses_approve_enrollment_path(@course, current_user), class: 'btn btn-danger btn-sm'
