- if !current_user
  = render 'guest_show'
- elsif current_user.has_role? :admin
  = render 'admin_show'
- elsif current_user.has_role? :instructor, @course
  = render 'instructor_show'
- elsif current_user.has_role? :student, @course
  = render 'student_show'
- else
  = render 'guest_show'
