.row
  .col-md-3
    = simple_form_for Submission.new, url: grade_submission_path, class: 'submission-form', html: { onsubmit: "return injectCode('.code-editor')" } do |f|
      = f.error_notification
      .prompt=@level.prompt
      = f.text_area :code, class: 'code-editor'

      .form-actions
        .pull-right
          = link_to 'Test', grade_submission_path, class: 'btn btn-warning'
          = f.submit 'Run', class: 'btn btn-primary'

  .col-md-9
    %p
      %b Level:
      = @level.name

    #canvas-container


%script{ type: 'text/javascript' }
  function get_level_tile_map() {
  = "return #{@level.tilemap}".html_safe
  }
