.row
  .col-md-4
    = simple_form_for Submission.new, url: grade_submission_path, class: 'submission-form', html: { onsubmit: "return injectCode('.code-editor')" } do |f|
      = f.error_notification

      .prompt
        %h2= @level.name
        =@level.prompt

        .pull-right
          %button.btn.btn-sm.btn-danger{"data-content" => @level.hint, "data-toggle" => "popover", "data-trigger" => "focus", :href => "#", :type => "button", :tabindex => "0"} Hint

      %div#code-editor

      = f.hidden_field :level_id, value: @level.id
      = f.hidden_field :course_id, value: @level.course.id

      .form-actions
        .pull-right
          = link_to 'Back to Courses', courses_path, class: 'btn btn-default'
          %span#submit_button.btn.btn-primary Test

  .col-md-8.canvas-outer
    .outer
      .middle
        .inner
          #canvas-container


%script{ type: 'text/javascript' }
  function get_level_tilemap() {
  = "\treturn '#{@level.tilemap}';".html_safe
  }

  function get_hero_gender() {
  = "\treturn 'girl';".html_safe
  }
