%h1 Listing users

%table.table.table-striped.vertical-aligned
  %tr
    %th Name
    %th Email Address 
    %th Options

  - @users.each do |user|
    %tr
      %td= link_to user.name, user
      %td= user.email
      %td
        -if current_user.has_role? :admin
          = link_to 'Admin Edit', edit_user_registration_path(@user), class: 'btn btn-warning btn-sm'
        -else
          = link_to 'Default Edit', edit_user_registration_path(@user), class: 'btn btn-warning btn-sm'

        = link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-sm'

%br
.form-actions
  = link_to 'New User', new_user_registration_path, class: 'btn btn-primary'
