%p#notice= notice

%table.table.table-striped.vertical-aligned
  %tr
    %th Name 
    %th Email Address
    %th Courses
    %th Last Sign in

    %tr
      %td= @user.name
      %td= @user.email
      %td= "TBD"
      %td= @user.last_sign_in_at

= link_to 'Edit', edit_user_registration_path(@users)
\|
= link_to 'Back', users_path
