.page-header
  %h1
    = @user.name
    %small= @user.email

.row
  .col-md-12
    %h2 Courses

    %table.table.table-striped.vertical-aligned
      %thead
        %tr
          %th Name
          %th Start Date
          %th Progress

      %tbody
        - Course.with_role(:student, current_user).each do |course|
          %tr
            %td= link_to course.name, course
            %td= course.start_date.strftime('%h %d, %Y at %I:%M %p')
            %td
              - course_progress(course, current_user)

.form-actions
  = link_to 'Edit', edit_user_registration_path(@users), class: "btn btn-primary btn-sm"
  = link_to 'Back', :back, class: "btn btn-warning btn-sm"
